
body, html{
  height: 100%;
  position: relative;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
nav{
  background: transparent;
  padding-bottom: 50px;
  transition: all ease .5s;


}
nav.shrink{
  background-color: rgba(36, 113, 163, .85);
transition: all ease .95s;
}

nav ul li{
  padding: 7px;
}
nav ul li a{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;


  text-decoration: none;
  position: relative;


  color: white;
}

nav ul li a:hover{
  color: #3498DB ;

}

nav ul li a:before{
  content: '';
  width: 0px;
  height: 5px;
  position: absolute;
  background: #05DDEE;
  top: 100%;
  left: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  transition: .9s all;
}
/*
nav ul li:hover a:before{
  width: 40%;
  transform: translateX(122%);
}

*/

nav ul li a:after{
  content: '';
  width: 0px;
  height: 5px;
  position: absolute;
  background: #EE0569;
  top: 100%;
  right: 0;
  bottom: 0;
mix-blend-mode: multiply;
  transition: .9s all;
}

nav ul li:hover a:before{
  width: 40%;
  transform: translateX(125%);
}


nav ul li:hover a:after{
  width: 40%;
  transform: translateX(-125%);
}


.navbar{
  font-size: 1.2em;
}

.nav-logo{
  padding-left: 15px;
  color: white;
}

.navbar-position{
  padding-right: 65px;
}

.active{
  background-color: #05DDEE;
}
.background-one{

  max-width: 100%;
  max-height: 20%;
  display: block;
  margin: 0 auto;
}

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
/* fixed = parallax

    scroll = normal

*/
  background-attachment: fixed;
}
.pimg1{
  background-image: url("./media/background-one.jpeg");
  min-height: 100%;
}
.pimg2{
  background-image: url("./media/background-two.jpeg");
  min-height: 500px;
}
.pimg3{
  background-image: url("./media/background-three.jpeg");
  min-height: 500px;
}



.section{
  text-align: center;
  padding: 50px 80px;

}
.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark{
  background-color: #383E34;
  color: #DDD;
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 37px;
  letter-spacing: 8px;
  text-transform: uppercase;

}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.trans{
  background-color: transparent;
  padding: 0;
  color: transparent;
}

.portfolio{
  color: inherit;
  text-align: center;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  min-height: 50%;

}

.connect{

}


.contact-modal{
  text-transform: uppercase;
  color: white;
  letter-spacing: 8px;

  top: 0%;
  width: 0%;
  text-align: center;
}


.portfolio-item{
  margin-bottom: 30px;
  color: black;
}


@@media (min-width: 992px) {

}
/*
.active-hover{
  width: 120px;
  height: 3px;
  background-color: #3498DB ;
}

a:hover ~ .active-hover{
  transform: translate(125px);
}
*/
